@font-face {
  font-family: "moldyen_boldbold";
  src: url("moldyen-webfont.woff2") format("woff2"),
    url("moldyen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "the_neueblack";
  src: url("theneue-black-webfont.woff2") format("woff2"),
    url("theneue-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

#backgroundImage {
  background-image: URL("/src/assets/backdrop_mono.jpeg");
  /* background-image: URL("/src/assets/heroImage.jpg"); */
  background-size: cover;
  /* height: 10%; */
  /* height: fit-content; */
  /* background-color: #000000; */
}
.top-left-text {
  background-color: aliceblue;
  border-radius: 5%;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 5%;
  left: 5%;
  top: 5%;
  padding: 10px 20px;
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #4a515bff,
    rgb(84, 84, 84),
    rgb(177, 177, 177),
    #dadde2ff,
    #eeeff3ff
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 3vmin;
  text-align: center;
}

.top-left-text:hover {
  background-color: rgb(206, 206, 206);
  transition: background-color 1s;
  box-shadow: 0px 4px 8px rgba(93, 93, 93, 0.2);
}

#menuButton {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.parentDiv {
  position: relative;
}

.bodySphere {
  display: block;
  position: absolute;
  align-content: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
}

.animationBox {
  justify-content: center;
  display: flex;
  object-fit: cover;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

/* Audio Player CSS  */

.component-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.audio-player-actual {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 34px;
}

.main-audio-player {
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  padding: 16px;
  color: rgb(255, 255, 255);
}
.album-artwork {
  display: block;
  object-fit: cover;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.song-title {
  background: linear-gradient(
    270deg,
    #4a515bff,
    rgb(130, 130, 130),
    rgb(78, 78, 78),
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "the_neueblack", serif;
  text-align: center;
}

.audio-player-header {
  font-size: 6vmin;
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.change-artwork {
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 3s;
  font-family: "the_neueblack", serif;
}

.change-artwork:hover {
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 3s;
  font-family: "the_neueblack", serif;
}

.artist-name {
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
  text-align: center;
  font-family: "the_neueblack", serif;
  letter-spacing: 0.2rem;
  align-items: center;
  align-content: center;
}

/* The device with borders */
.smartphone {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  left: 5%;
  width: 360px;
  height: 640px;
  border: 16px rgb(255, 255, 255) solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.smartphone:before {
  content: "";
  display: block;
  align-items: center;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: "";
  display: block;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* The screen (or content) of the device */
.smartphone .content {
  align-items: center;
  width: 360px;
  height: 100px;
}

/* Button Styling and Animation: TODO */

button {
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  transition: background-color 1s;
  border: none;
  color: rgb(95, 95, 95);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: rgb(206, 206, 206);
  transition: background-color 1s;
  box-shadow: 0px 4px 8px rgba(93, 93, 93, 0.2);
}

/* Header and WAVES animation */

header {
  height: 100vh;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}
img:not(#shape) {
  position: absolute;
  color: white;
  left: 0;
}
header img:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite;
}
@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}
header img:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite;
}
@keyframes move-2 {
  50% {
    transform: translateY(35px);
  }
}
header img:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite;
}
@keyframes move-3 {
  50% {
    transform: translateY(25px);
  }
}
header img:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite;
}
@keyframes move-4 {
  50% {
    transform: translateY(20px);
  }
}
header h1 {
  width: 100%;
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #eeeff3ff,
    #dadde2ff,
    #030305ff,
    rgb(46, 46, 48),
    #4a515bff
  );
  background-clip: text;
  color: transparent;
  position: absolute;
  opacity: 30;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  font-size: 12vmin;
  text-align: center;
  background-position: 0 0;
}

header h2 {
  width: 100%;
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 3vmin;
  text-align: center;
}

.aboutMe h1 {
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8vmin;
  text-align: center;
  margin-top: 10%;
  /* margin-left: 20%;
  margin-right: 20%; */
}

.aboutMe ul {
  font-family: "the_neueblack";
  font-size: 2vmin;
  color: rgb(172, 172, 172);
  padding: 0%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10%;
}

.aboutMe a {
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  transition: background-color 1s;
  border: none;
  color: rgb(95, 95, 95);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-left: 280px;
  position: relative;
  /* bottom: 20%; */
}

/* ContactMe CSS styling  */

.ContactMeContainer {
  max-width: 600px;
  margin: 0 auto;
  background-image: URL("/src/assets/backdrop_mono.jpeg");
  padding: 20px;
  margin-bottom: 10%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.ContactMeHeader {
  display: gird;
  align-items: center;
}

.ContactMeHeader h1 {
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #eeeff3ff,
    #dadde2ff,
    #030305ff,
    #16171bff,
    #4a515bff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6vmin;
  text-align: center;
}

.form-wrapper label {
  display: grid;
  justify-content: center;
  font-family: "the_neueblack";
  font-size: 3vmin;
  color: rgb(255, 255, 255);
  padding: 0%;
  margin-left: 20%;
  margin-right: 20%;
}

.form-wrapper form {
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper input,
.form-wrapper textarea {
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  border: none;
  display: block;
  color: rgb(95, 95, 95);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.form-wrapper textarea:focus {
  border-color: grey;
}

.form-wrapper input:focus {
  border-color: grey;
}

.form-wrapper button {
  padding: 10px 20px;
  font-family: "the_neueblack";
  font-size: 2vmin;
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  /* This applies styles to screens with a maximum width of 767px */

  #backgroundImage {
    background-image: URL("/src/assets/backdrop_mono.jpeg");
    background-size: cover;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .top-left-text {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
    width: 5%;
    left: 10%;
    top: 4%;
    padding: 10px 20px;
    font-family: "the_neueblack";
    background: linear-gradient(
      270deg,
      #4a515bff,
      rgb(84, 84, 84),
      rgb(177, 177, 177),
      #dadde2ff,
      #eeeff3ff
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
    text-align: center;
  }

  .top-left-text:hover {
    background-color: rgb(206, 206, 206);
    transition: background-color 1s;
    box-shadow: 0px 4px 8px rgba(93, 93, 93, 0.2);
  }

  header h1 {
    width: 100%;
    font-family: "the_neueblack";
    background: linear-gradient(
      270deg,
      #4a515bff,
      #16171bff,
      #030305ff,
      #dadde2ff,
      #eeeff3ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    font-size: 5vmin;
    text-align: center;
  }

  header h2 {
    width: 100%;
    font-family: "the_neueblack";
    background: linear-gradient(
      270deg,
      #4a515bff,
      #16171bff,
      #030305ff,
      #dadde2ff,
      #eeeff3ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    font-size: 4vmin;
    text-align: center;
  }

  /* The device with borders */
  .smartphone {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    left: 0%;
    width: 360px;
    height: 640px;
    border: 16px rgb(255, 255, 255) solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .component-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .audio-player-header {
    font-size: 6vmin;
    font-family: "the_neueblack";
    background: linear-gradient(
      270deg,
      #4a515bff,
      #16171bff,
      #030305ff,
      #dadde2ff,
      #eeeff3ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 20%;
  }

  .aboutMeContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* justify-content: space-around; */
  }
}
.aboutMe h1 {
  display: grid;
  justify-items: center;
  font-family: "the_neueblack";
  background: linear-gradient(
    270deg,
    #4a515bff,
    #16171bff,
    #030305ff,
    #dadde2ff,
    #eeeff3ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6vmin;
  text-align: center;
}

.aboutMe p {
  display: grid;
  justify-items: center;
  text-align: center;
  font-family: "the_neueblack";
  font-size: 3vmin;
  color: #030305ff;
}
